<div class="hed-hed">
    <header>
      <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">
         <h3>  Ferrari</h3></a>
          <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <hr>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>HOME
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/car-models"><i class="fa fa-car" aria-hidden="true"></i>CARS</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" routerLink="/location"><i class="fa fa-map-marker" aria-hidden="true"></i>LOCATION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about"><i class="fa fa-at" aria-hidden="true"></i>ABOUT</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
     
    </header>
  </div>
  
  
  