<!-- slider starts -->

<div class="mine-slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
       <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
       <div class="carousel-item active">
         <img class="d-block w-100" src="../../../../../assets/slider/124068.jpg" alt="First slide">
         <div class="carousel-caption d-none d-md-block">
           <div class="col-md-7 col-sm-12  text-white">
             <h6></h6>
             <h1>Ferrari</h1>
             <p>"Everyone Dreams
                Of Driving
                a Ferrari It Was My Intent From The Start"   </p>
             <button class="btn btn-light px-5 py-2 primary-btn">
              Viwe cars
             </button>
           </div>
         </div>
       </div>
       <div class="carousel-item">
         <img class="d-block w-100" src="../../../../../assets/slider/536277.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
           <h1>Ferrari</h1>
           <p>"Everyone Dreams
            Of Driving
            a Ferrari It Was My Intent From The Start"   </p>
          
           <button class="btn btn-light px-5 py-2 primary-btn">
            Viwe cars
            </button>
         </div>
       </div>
       <div class="carousel-item">
         <img class="d-block w-100" src="../../../../../assets/slider/msY7sXw.jpg" alt="Second slide">
         <div class="carousel-caption d-none d-md-block">
           <h1>Ferrari</h1>
           <p>"Everyone Dreams
            Of Driving
            a Ferrari It Was My Intent From The Start"   </p>
           <button class="btn btn-light px-5 py-2 primary-btn">
            Viwe cars
            </button>
         </div>
       </div>
      
      
   
     <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>
   </div>

   <!-- slider end -->

   <!-- holder-details -->
   
   <section class="section-1">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="pray">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../../../../assets/holder/Enzo_Ferrari_Monza_1967.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../../../assets/holder/images (1).jfif" alt="Second slide">
                </div>
  
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="panel text-left">
            <h1>Enzo Ferrari</h1>
            <p class="pt-4">"Everyone Dreams
                Of Driving
                a Ferrari It Was My Intent From The Start"
            </p>
          
          </div>
        </div>
      </div>
    </div>
  </section>

<hr>

<!-- holder-details -->
   
   <!-- next-set-starts -->
   
<section class="section-2 container-fluid p-0">
    <div class="cover">
      <div class="overlay"></div>
      <div class="content text-center">
        <h1>Ferrari S.p.A.</h1>
        <p>
            "Everyone Dreams
            Of Driving
            a Ferrari It Was My Intent From The Start"        </p>
      </div>
    </div>

     <!-- next-set-ends-->
     <hr>
<!-- 
     cards-starts -->
    
        <div class="card-columns">
            <div class="card">
              <img class="card-img-top" src="../../../../../assets/536277.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">CARs</h5>
                <p class="card-text">“Race cars are neither beautiful nor ugly. </p>
              </div>
            </div>
            <div class="card p-3">
              <blockquote class="blockquote mb-0 card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../../../assets/e1f241bcde195b9144d32064e411da2d.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">“Racing is a great mania to which one must sacrifice everything, without reticence, without hesitation.”</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card bg-primary text-white text-center p-3">
              <blockquote class="blockquote mb-0">
                <p>“Racing is a great mania to which one must sacrifice everything, without reticence, without hesitation.”</p>
                <footer class="blockquote-footer">
                  <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Ferrari</h5>
                <p class="card-text">“One must keep working continuously; otherwise, one thinks of death.”</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img" src="../../../../../assets/download.jfif" alt="Card image">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="blockquote mb-0">
                <p>“One must keep working continuously; otherwise, one thinks of death.”</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">“One must keep working continuously; otherwise, one thinks of death.”</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        

        <app-footer></app-footer>
        <!-- cards-ends -->