<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted">location</h6>
                    <p class="card-text">Navnit Motors Ferrari Showroom
                        Platina Building, Plot No: C-59, G-2, Bandra Kurla Complex Rd, G Block BKC, MMRDA Area, Kalina,
                        Bandra East, Mumbai, Maharashtra 400051</p>

                    <a href="https://www.google.com/maps/place/Navnit+Motors+Ferrari+Showroom/@19.0686745,72.8684669,15z/data=!4m2!3m1!1s0x0:0x218bc524ba0d1e7e?sa=X&ved=2ahUKEwjXy-eLgdDuAhWhheYKHbIZA7QQ_BIwFXoECDAQBQ"
                        class="card-link">View Google Map</a>
                </div>
            </div>
        </div>
        <div class="col-8" class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15083.550799709536!2d72.8684669!3d19.0686745!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x218bc524ba0d1e7e!2sNavnit%20Motors%20Ferrari%20Showroom!5e0!3m2!1sen!2sin!4v1612432269486!5m2!1sen!2sin"
                width="160%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0">
            </iframe>

        </div>
    </div>
</div>
    <app-footer></app-footer>